# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# ASP.NET
hardwareAPI/**/bin/
hardwareAPI/**/obj/
hardwareAPI/.vs/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log

# Environment
.env

# Windows
Thumbs.db
Desktop.ini